body{
    background-color: rgb(219, 211, 93);
    font: 1em sans-serif;
}
#html{
    color: #ffffff;
    background-color: rgb(226, 32, 32);
}
#css{
    color: #ffffff;
    background-color: royalblue;
}
#js{
    color: #ffffff;
    background-color: #d9ff00;
}
select :disabled{
    background-color: rgb(122, 7, 45);
}
select option:hover:checked{
    background-color: inherit;
}
select{
    height: 40px;
    width: 130px;
    padding: 5px;
    background-color: rgb(189, 179, 153);
    border-radius: 5px;
    border: black solid 2px;
}
#langs{
    width: 700px;
}